// Fonts
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

// Colors
$blendColor: #1476BF;
$primaryColor: #083452;
$secondaryColor: #126DB3;
$tertiaryColor: #A3B3BF;

// Content Widths
$slim: 85%;

// Post Images:
$postImg: "../images/post-1.jpg" "../images/post-2.jpg" "../images/post-3.jpeg" "../images/post-4.jpg";
